---

---

<section id="about" class="section about">
  <div class="section-title">about us</div>

  <p>
    AGITO Studio is an artist collective focused on storytelling, worldbuilding,
    visual art, 3D production, and speculative design. Through collaborative
    creation, we build fragments of worlds that never existed, preserving their
    histories through art.
  </p>
</section>
