---
---

<header>
    <div class="logo">AGITO</div>

    <nav>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#members">Members</a>
        <a href="#gallery">Gallery</a>
    </nav>
</header>
